html {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

img {
  width: 100%;
}
