name: Pages

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  pages:
    runs-on: ubuntu-22.04
    name: Pages
    permissions:
      contents: read
      packages: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'
          scope: '@ownfolio'
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Render screenshots
        run: npm run screenshots
      - name: Build pages
        run: npm run pages
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: pages/dist
      - uses: actions/deploy-pages@v4
        id: deployment
